.container{
  height: calc(100vh - 100px);
  position: relative;
  /* background-color: rgb(247, 227, 165); */
  top: 100px;
  display: flex                                                                                                 ;
}
.left{
 flex: 1;
 height: 100%;
 /* background-color: blue; */
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;

}
.img_container{
    width: 80%;
    height: 80%;
    /* background-color: brown; */
    position: relative  ;
    display: flex;
    align-items: center;
    
}
.right{
    flex: 1;
    position: relative;
    /* background-color: rgb(103, 226, 226); */
    height: 100%;
   
    
    
}
.right_container{
    width: 100%;
    height: 80%;
    position: absolute;
    /* background-color: yellow; */
    top: 15%;
}
.title{
    color: rgb(0,0,0,0.6);
    font-size: 40px;
    font-family: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
.price{
    font-size: large;
    margin-bottom:20px;
    font-size: 24px;
    font-weight: 500;
}
.price span{
    color: hsl(16, 100%, 50%);
    
}
.desc{
    margin-top: 20px;
    text-align: justify;
    width: 80%;
    font-size: 18px;
    margin-bottom: 20px;
}
.title2{
    font-size: 24px;
    color: orangered;
    letter-spacing: 2px;
    
}
.size_range{
    display: flex;
    margin-top: 30px;
    
}
.size_range div{
    height: 5vh;
    width: 5vh;
    background-color: hsl(12, 3%, 38%);
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    

}

.size_range p{
   font-size: 3vh;
   

   
}
.size_range div:hover{
    background-color: hsl(16, 93%, 59%);
    
}
.choose{
    margin-top: 30px;
}
.ingredients{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.option {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 16px;
}
.option label{
    text-transform: capitalize;
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.finalbox{
    margin-top: 50px;
    display: flex;
    width: 50%;
}
.countbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    font-size: 20px;
    width: 40%;
    
}
.countbox div{
    border: 2px solid grey;
    padding:10px  15px;
    border-radius: 30%;
}
.countbox_icons{
    color: orangered;
}
.finalbox_btn{
    background-color: grey;
    color: white;
    height: 60px;
    padding: 5px 10px ;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalbox_btn:hover{
    
    background-color: hsl(16, 100%, 67%);
    color: white;
    
}